<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Grunt-Angular-Example">
  <title>Grunt-Angular-Example</title>
  <link href="asset/img/icon/ic.favicon.ico" rel="shortcut icon"
    type="image/x-icon">
  <link href="example/index.css" rel="stylesheet" type="text/css">
  <script src="example/angular.min.js"></script>
</head>

<body ng-app="exampleApp" ng-controller="ExampleController as ex">
  <div fa ng-if="ex.showFileAttachment"></div>
  <button class="show-fa-button" ng-click="ex.show()">
    Show File Attachment</button>
  <script src="example/ng-file-upload.js"></script>
  <script src="example/index.js"></script>
</body>

</html>
