<narr-word-panel info="vm.wordPanel.info"
  update-panel="vm.wordPanel.updatePanel"
  reset-panel="vm.wordPanel.resetPanel" ng-class="{inactive: vm.isTimeEnd}">
</narr-word-panel>
<div class="game-result" ng-show="vm.isTimeEnd">
  <span class="result-total">total words: {{vm.wordPanel.info.trialCount}}
  </span>
  <span class="result-correct">correct words:
    {{vm.wordPanel.info.correctCount}}</span>
  <span class="result-incorrect">incorrect words:
    {{vm.wordPanel.info.trialCount - vm.wordPanel.info.correctCount}}</span>
</div>
<narr-word-input on-keypress="vm.start" on-check-value="vm.checkVal"
  enable="vm.wordInput.enable" disable="vm.wordInput.disable">
</narr-word-input>
<narr-word-timer timer-started="vm.wordTimer.started"
  start-timer="vm.wordTimer.startTimer" on-time-end="vm.timeEnd"
  reset-timer="vm.wordTimer.resetTimer"></narr-word-timer>
<button type="button" ng-click="vm.reset($event)">reset</button>
